.playSurface{
	position: relative;

	.tableCard{
		display: inline-block;
		position: relative;
		.cardCostIcon, .buyButton{
			position: absolute;
			bottom: 0;
		}
		.cardCostIcon{
			left: 0;
			p{
				position: absolute;
				left: 12px;
				bottom: -6px;
			}
		}
		.buyButton{
			right: 0;
			cursor: pointer;
		}
	}

	.playerTracker{
		position: absolute;
		right: 50px;
		bottom: 0;
	}
}

.playerHand{
	.playerCard{
		display: inline-block;
		position: relative;
		.playButton{
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}